DATABASE_URL=postgresql://postgres:123@localhost:5433/local

# Auth.js
AUTH_SECRET="your-super-secret-key-here-change-this-in-production"
AUTH_TRUST_HOST=true

# OAuth Providers

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your-email-ClientID
GOOGLE_CLIENT_SECRET=your-email-Secrent-Key
GOOGLE_REDIRECT_URI=http://localhost:5173/api/auth/callback/google

# GitHub OAuth
GITHUB_CLIENT_ID=your-email-ClientID
GITHUB_CLIENT_SECRET=your-email-Secrent-Key
GITHUB_REDIRECT_URI=http://localhost:5173/api/auth/callback/github


GMAIL_USER="your-email@gmail.com"
GMAIL_APP_PASSWORD="your-gmail-app-password"

#Gemeni Key
GEMINI_API_KEY=AIyour-gemini-api-key